body {
  background-color: blanchedalmond;
  border: 3px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
  margin-bottom: 30px;
}